#calculator {
    display: flex;
    flex-direction: column;
    margin-top: 50px;;

    background-color: #1e1e1e;
    border: 1px solid #404040;
    color: white;

    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 300px;
}

#output {
    display: flex;
    padding: 20px;
    margin: 20px;

    font-size: 15px;
    border-radius: 20px;
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

#button {
    display: grid;
    width: 5%;
    
    grid-template-columns: repeat(4, 1fr);
}

#button button {
  border-radius: 20px;
  color:white;
  padding: 10px 15px;
  margin: 10px;
}

.number{
  background-color: #1a1a1a;

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

.utility{
  background-color: #383838;

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

.operator{
  background-color: orange;

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

#button button:hover {
  background-color: #808080;
  box-shadow: 0 15px 25px rgba(0,0,0,0.0);
  transform: scale(1.05);
}


/*
Colors Taken from Hybrid.css
*/

#back-button {
  text-decoration: none;
  background-color: #131c2b;
  border: 0px solid #303030;

  color: white;
  padding: 10px;
  margin: 5px;
  max-width: 200px;

  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  transition: 
  background-color 0.6s ease,
  box-shadow 0.4s linear;
}

#back-button:hover {
  background: #1d2a40;
  transform: scale(1.01);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f1621;
  color: #e4e9f2;
}

h1 {
  color: #58a6ff;
  text-align: center;
  letter-spacing: 1px;
}

#container {
  display: flex;
  flex-direction: column;
  flex-grow: auto;
  align-items: center;
  justify-content: center;

  background-color: #131c2b;
  border-radius: 20px;

  margin: 20px auto;
  padding: 20px;
  max-width: 500px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

#container h2 {
  text-align: center;
  flex-grow: auto;
  font-size: 30px;
}
