#calculator {
    display: flex;
    flex-direction: column;
    margin-top: 50px;;

    background-color: #1e1e1e;
    border: 1px solid #404040;

    font-size: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    max-width: 300px;
}

#output {
    display: flex;
    padding: 20px;
    margin: 20px;

    font-size: 15px;
    border-radius: 20px;
    
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

#button {
    display: grid;
    width: 5%;
    
    grid-template-columns: repeat(4, 1fr);
}

#button button {
  background-color: #272727;
  border-radius: 20px;
  color:white;
  padding: 10px 15px;
  margin: 10px;
  

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

#utility{
  background-color: #383838;

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

#operators{
  background-color: orange;

  transition: 
  background-color 0.2s ease,
  box-shadow 0.4s linear;
}

#button button:hover {
  background-color: #808080;
  box-shadow: 0 15px 25px rgba(0,0,0,0.0);
  transform: scale(1.05);
}


/*
Taken from Hybrid.CSS
*/

#back-button {
  background-color: #131c2b;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1);

  transition: 
  background-color 0.6s ease,
  box-shadow 0.4s linear;
  transform: 5.4s ease;

}
#back-button:hover {
  background: #1d2a40;
  transform: scale(1.01);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0f1621;
    color: #e4e9f2;
}

h1, h2 {
    color: #58a6ff;
    text-align: center;
    letter-spacing: 1px;
}

#container {
  display: flex;
  background-color: #131c2b;
  
  border-radius: 20px;

  margin: 20px auto;
  padding: 20px;
  max-width: 500px;

  flex-direction: column;
  flex-basis: auto;
  flex-grow: auto;
  flex-wrap: wrap;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  align-items: center;
  justify-content: center;
}

#container h2 {
  text-align: center;
  flex-grow: auto;
  font-size: 30px;
}
