body {
  font-family: 'Inter', sans-serif;
  background-color: #0f1621;
  color: #e4e9f2;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2 {
  color: #58a6ff;
  text-align: center;
  letter-spacing: 1px;
}

/*Colors taken from Hybrid.css*/

#container {
  display: flex;
  flex-direction: column;
  flex-grow: auto;

  align-items: center;
  justify-content: center;

  background-color: #131c2b;
  
  border-radius: 20px;

  margin: 20px auto;
  padding: 20px;
  width: 75%;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.assignment a {
  color: white;
  padding: 10px;

  border: 1px solid #18202f;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.assignment{
  border: 1px solid #18202f;

  padding: 20px;
  margin: 20px;

  border-radius: 20px;
  width: 75%;

  font-size: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.assignment a:hover {
  color: rgba(47, 176, 199, 0.76);
  text-shadow: 0 0 10px rgba(28, 38, 67, 0.6);
}


.assignment:hover {
  transform: translateY(-10px) scale(1.03);
  background: rgba(108,217,255,0.08);
}